################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/POO Project/.vs/POO Project/v17
/.vs
